{% extends "staff_base.html" %}

{% block content %}
    <div class="pagetitle">
      <h1>Book List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Books</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">All Books In Library</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">View</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Cover Price</th>
                    <th scope="col">Store</th>
                    <th scope="col">Available</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cus in books %}
                    <tr>
                      <th scope="row">
                        <a href="/staff/books/{{ cus.id }}/">
                          <i class="bi bi-eye-fill"></i>
                        </a>
                      </th>
                      <td>{{ cus.title }}</td>
                      <td>{{ cus.author }}</td>
                      <td>{{ cus.price }}</td>
                      <td>{{ cus.store }}</td>
                      <td>{{ cus.available }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}