{% extends "base.html" %}
{% load static %}
{% block title %}
Transaction
{% endblock %}

{% block header_type %}
<header id="header" class="fixed-top header-inner-pages">
  {% endblock %}

  {% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home:home' %}">Trang chủ</a></li>
          <li>Transaction</li>
        </ol>
        <h2>Transaction</h2>

        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- List -->
    <section id="list" class="list section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Transaction</h2>
          <p>Hãy kiểm tra lại thông tin đơn mượn</p>
        </div>

        {% if exist %}
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-white">
              <h2>Thông tin khách hàng</h2>
              <form>
                <div class="form-group">
                  <label for="name">Tên khách hàng:</label>
                  <input type="text" class="form-control" id="name" name="name"
                    value="{{ crr1.lname|add:" "|add:crr1.fname }}" readonly>
                </div>
                <div class="form-group">
                  <label for="phone">Số điện thoại:</label>
                  <input type="tel" class="form-control" id="phone" name="phone" value="{{crr1.phone}}" readonly>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" value="{{crr2.email}}" readonly>
                </div>
                <div class="form-group">
                  <label for="store">Cơ sở:</label>
                  <input type="store" class="form-control" id="store" name="store" value="{{user.user.current_store}}"
                    readonly>
                </div>
              </form>
              <form method="POST" action="{% url 'cart:transaction_create' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Lưu đơn mượn</button>
              </form>
            </div>
            <div class="col-md-6 text-white">
              <h2>Danh sách sách mượn</h2>
              <table class="table text-white">
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Giá bìa</th>
                  </tr>
                </thead>
                <tbody>
                  {% for book in list_item %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ book.book.title }}</td>
                    <td>{{ book.book.author }}</td>
                    <td>{{ book.book.cover_price }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <style>
                .right-align {
                  text-align: right;
                }
              </style>
              <p class="right-align">Tổng số sách: {{number}} quyển</p>
            </div>
          </div>
        </div>

        <script>
          const borrowDateInput = document.getElementById('borrow_date');
          const returnDateInput = document.getElementById('return_date');

          borrowDateInput.addEventListener('change', (event) => {
            const borrowDate = new Date(event.target.value);
            const returnDate = new Date(borrowDate.getTime() + 7 * 24 * 60 * 60 * 1000);
            returnDateInput.value = returnDate.toISOString().substr(0, 10);
          });
        </script>
        {% else %}

        <h5 class="text-center" style="color: #ddd;"> Chưa có thông tin đơn mượn</h5>

        {% endif %}

      </div>
    </section><!-- End List Section -->


  </main><!-- End #main -->
  {% endblock %}

  {% block shortcut%}
  <div class="col-lg-6 footer-links">
    <h4>Useful Links</h4>
    <ul>
      <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home:home' %}">Trang chủ</a></li>
      <li><i class="bx bx-chevron-right"></i> <a href="{% url 'book:book_list' %}">List sách</a></li>
    </ul>
  </div>
  {% endblock %}