{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-3qoD5m5NCAXh5z5Yt2nke+HxzRyLh9X15fPCn8zZwkfPZo2cw/Gm4w4Y8od/cW75+eLgk9oN/iS//3Fz3lZDjA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <style>
    .gradient-custom {
      background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgb(166, 76, 85, 1))
    }
    .breadcrumbs {
      padding: 15px 0;
    }
    #header {
      padding: 0 !important;
    }
    #header-container {
      padding: 10px 0;
    }
    @media (max-width: 990px) {
      #header-container {
        padding: 15px 0;
      }
    }
    p {
     margin: 0;
    }
  </style>
</head>

<body>
  <!-- ======= Header ======= -->
  {% block header_type %}
  {% endblock %}
    <div class="container d-flex align-items-center justify-content-between" id="header-container">

      <a href="/" class="logo me-auto"><img src="{% static 'des/logo.png' %}" width="200" height="60"
          alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Trang chủ</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'book:book_list' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              List sách
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a href="{% url 'book:book_list' %}"> <b> Tất cả </b></a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Chính trị' %}">Chính trị</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Pháp luật' %}">Pháp luật</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Khoa học công nghệ' %}">Khoa học công nghệ</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Kinh tế' %}">Kinh tế</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Văn học nghệ thuật' %}">Văn học nghệ thuật</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Văn hoá xã hội' %}">Văn hoá xã hội</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Lịch sử' %}">Lịch sử</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Giáo trình' %}">Giáo trình</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Truyện, tiểu thuyết' %}">Truyện, tiểu thuyết</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Tâm lý' %}">Tâm lý</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Tâm linh, tôn giáo' %}">Tâm linh, tôn giáo</a></li>
              <li><a href="{% url 'book:view_book_by_genre' 'Thiếu nhi' %}">Thiếu nhi</a></li>
            </ul>
          </li>


          <a>
            <form action="{% url 'book:search' %}" class="search" method="GET">
              <input type="text" class="form-control" style="width:90%;" placeholder="Search" name="q" value="{{ q }}">
            </form>
          </a>

          {% if user.username %}
          {% if not user.is_staff %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'store:change_store' user.user.current_store.id %}">Store: {{user.user.current_store}}</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Hello, {{user.username}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a href="{% url 'home:user_profile' %}"> Thông tin cá nhân</a></li>
              {% if not user.is_staff %}
              <li><a class="dropdown-item" href="{% url 'cart:cart_detail' %}">Giỏ sách</a></li>
              <li><a class="dropdown-item" href="{% url 'cart:transaction_list' %}">Lịch sử đơn hàng</a></li>
              {% endif %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'home:logout' %}">Đăng xuất</a></li>
            </ul>
          </li>
          {% else %}
          <a href="{% url 'home:login' %}">
            <button class="btn btn-outline-success me-2" type="button">Đăng nhập</button>
          </a>
          {% endif %}

        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% block content %}
  
  {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 footer-contact">
            <h3>Library</h3>
            <p>
              144 Xuân Thuỷ <br>
              Cầu Giấy, Hà Nội<br>
              Việt Nam <br><br>
              <strong>Phone:</strong> +84 xxx xxx xxx<br>
              <strong>Email:</strong> xxx@gmail.com<br>
            </p>
          </div>
          {% block shortcut %}
          
          {% endblock %}

          <div class="col-lg-6">
            <div class="col-lg-5">
              <div class="user_profile" style="display: none;">
                <div class="preview-link" id="profile">
                  <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col col-lg-10 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                          <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                              <img src="{% static 'des/userava.png' %}" alt="Avatar" class="img-fluid my-5"
                                style="width: 80px; height: 80px;" />
                              <h5>Họ tên</h5>
                              <p>{{user.username}}</p>
                              <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                              <div class="card-body p-4">
                                <h6>Thông tin</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                  <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">{{user.email}}</p>
                                  </div>
                                  <div class="col-6 mb-3">
                                    <h6>Số điện thoại</h6>
                                    <p class="text-muted">xxxxxxxxxx</p>
                                  </div>
                                </div>
                                <div class="col-6 mb-3">
                                  <h6>Ngày sinh</h6>
                                  <p class="text-muted">xx-xx-xxxx</p>
                                </div>
                                <div class="col-6 mb-3">
                                  <h6>Địa chỉ</h6>
                                  <p class="text-muted">Sao hoả :)</p>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
    </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; INT2208 4
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  
</body>

</html>